config.lua
config.sh
secret.py

grafana.db

*.log
*.pyc

volumes/etc/letsencrypt
volumes/var/www/certbot
volumes/etc/wireguard
volumes/var/lib/wireguard
volumes/var/lib/influxdb
octopus/
venv/
csv/
png/
