credentials = dict(
    host="localhost", username="admin", password="", database="14PHCMULTI"
)

measurement = "nodemcu"
endpoint = "http://192.168.8.%i/bme280"
rooms = [100, 110, 120]

interval = 10  # seconds between polling
timeout = 5  # seconds before timing out

# octopus energy
api_key = ""
mpan = ""
meter_no = ""

ping_servers = ["1.1.1.1", "8.8.8.8"]
